//
   Created by huangchaohui on 16/4/24.
doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='images/swiper.min.css')
    link(rel='stylesheet', href='images/style.css')
    title
  body
    // 浮层 登录开始
    .f_login
      h3 登录电竞圈赛事系统
      ul
        li
          .txt
            input(type='text', placeholder='手机号码')
          p.err
            i
            span 错误的手机号码
        li
          .txt
            input(type='text', placeholder='6~12位的数字或字母组成的登录密码')
          p.err
            i
            span 错误的手机号码
        li
          a.btn(href='#') 登录
      .more.cf
        p.l
          | 忘记密码？
          a(href='#') 马上找回！
        p.r
          | 还不是会员？
          a(href='#') 马上注册！
    // 浮层 登录结束
    // 浮层 注册开始
    .f_register
      h3 注册新用户
      ul
        li
          .code
            input(type='text', placeholder='手机号码')
            a(href='#') 发送验证码
            a.lock(href='#', style='display:none;') 54秒后重新发送
          p.err
            i
            span 错误的手机号码
        li
          .txt
            input(type='text', placeholder='短信验证码')
          p.err
            i
            span 错误的验证码
        li
          .txt
            input(type='text', placeholder='6~12位的数字或字母组成的登录密码')
          p.err
            i
            span 不符合规则的密码
        li
          .txt
            input(type='text', placeholder='重复密码')
          p.err
            i
            span 重复密码错误
        li.xy
          .box
            input(type='checkbox')
            span 我同意
            a(href='#') 协议协议协议
            span 和
            a(href='#') 协议协议协议
            span 相关条款。
          p.err
            i
            span 提示语待定
        li
          a.btn(href='#') 注册
    // 浮层 注册结束
    // 浮层 找回密码开始
    .f_forget
      h3 注册新用户
      // 第一步开始
      ul
        li
          .code
            input(type='text', placeholder='手机号码')
            a(href='#') 发送验证码
            a.lock(href='#', style='display:none;') 54秒后重新发送
          p.err
            i
            span 错误的手机号码
        li
          .txt
            input(type='text', placeholder='短信验证码')
          p.err
            i
            span 错误的验证码
        li
          a.btn(href='#') 确认并进行密码修改
        li.num
          | 1/2
      // 第一步结束
      // 第二步开始
      ul(style='display:none;')
        li
          .txt
            input(type='text', placeholder='6~12位的数字或字母组成的登录密码')
          p.err
            i
            span 不符合规则的密码
        li
          .txt
            input(type='text', placeholder='重复密码')
          p.err
            i
            span 重复密码错误
        li
          a.btn(href='#') 确认修改
        li.num
          | 2/2
      // 第二步结束
    // 浮层 找回密码结束
    // 通用半透明背景开始
    .re_fPageBg
    // 通用半透明背景结束
    // 通用头部导航开始
    .re_lyTopMenu
      .re_topMenu
        h2.logo 电竞圈赛事系统
      p.link
        a.my(href='#') 注　册
        a.login(href='#') 登　录
        //
          <a href="#" class="my">我的赛事</a>
          <a href="#" class="exit">退出登录</a>
    // 通用头部导航结束
    // 电竞报名开始
    .re_page.joinPage
      // 面包屑开始
      .re_nav.cf
        i.ico_home
        a(href='#') 首页
        span >2016 马尼拉特锦赛 中国赛区预选赛
      // 面包屑结束
      // banner开始
      .banner
        img(src='_temp/06.jpg', width='100%', alt='')
      // banner结束
      // 报名主体开始
      .joinMain
        .intro
          dl
            dt 2016 马尼拉特锦赛 中国赛区预选赛
            dd
              | TI5之后Valve宣布开启DOTA2四大联赛模式，即每年的春夏秋冬会在全球举办DOTA2四大联赛。15年11月法兰克福秋季赛受到业内一致好评。虽然上海冬季赛国内队伍全军覆没但调整之后的西恩DOTA将会在新赛季中再现辉煌！
              | 此比赛为东南亚特级锦标赛上海赛区的公开赛阶段，各个报名队伍将争夺前往马尼拉的两个名额。
          // <div class="notice">
          // <tt></tt><span>注：本次比赛将采用</span><strong>裁判模式</strong><i></i><span>，参赛者无需管理比赛成绩。</span>
          // <p class="tips">比赛将由举办方指定的<strong>裁判</strong>进行比赛监督，选手无需管理提交比赛结果。</p>
          // </div>
          //
            <div class="notice">
            <tt></tt><span>注：本次比赛将采用</span><em>自判模式</em><i></i><span>，比赛结束后参赛者需登录至<em>我的赛事</em>中自行提交比赛成绩。</span>3
            <p class="tips">选手需要登录赛事系统进入<em>我的赛事</em>页面，找到已报名的对应比赛<em>点击提交成绩</em>自行录入提交本场赛事的比分。当认为对方提交的成绩有异议时可申请<em>仲裁</em>要求裁判介入确认正确的比分。</p>
            </div>
        .info
          .t
            h3 报名信息
            i
          ul
            li
              label 战队名称
              input.txt(type='text', placeholder='战队名称')
              em.pass
          .t
            h3 报名信息
            i
            span （用于选手间互相联系，只有参赛选手、赛事举办方和裁判可见。)
          ul
            li
              label 联系人战网ID
              input.txt(type='text')
            li
              label 手机号
              input.txt(type='text')
              // <em class="err"></em>
            li
              label QQ
              input.txt(type='text')
            li
              label 微信
              input.txt(type='text')
          .btn
            a#postTeamMessage.team 确认并提交战队报名信息
    .re_footer
      .footer
        img.logo(src='images/foot_01.png', width='160', height='77', alt='')
        p.t1
          | Room XXX No.XXX,Lingshi Road, Zhabei District,Shanghai,P.R.China.
          br
          |         	Tel:86+21-6xxx-2xxx Fax:86+21-xxx5-2xxx
          br
          a(href='mailto:Service@ees.com') Email: Service@EES.com
        p.t2
          | Copyright © 2016
          span www.xxxx.cn.
          | Allright reserved.
          br
          a 沪ICP备1502xx9-1号
        .link
          a.wx(href='#')
          a.wb(href='#')
          a.tx(href='#')
          a.qq(href='#')
    // 通用底部模块结束
    script(src='js/jquery-1.7.2.min.js')
    script(src='js/swiper.min.js')
    script(src='js/page.js')


