extends layout

block content
  div.header
  div.container
    div.body_container
      .row
        .col-lg-12.col-box
          span 报名状态
          span#signState.label.label-default 未开始
          button.btn.btn-sm.btn-warning.pull-right#stateReset 重置报名
          button.btn.btn-sm.btn-danger.pull-right#stateStop 截止报名
          button.btn.btn-sm.btn-success.pull-right#stateStart 开始报名
        .col-lg-12.col-box
          span 上传图片
          button.btn.btn-sm.btn-primary.pull-right 上传
        .col-lg-12.col-box
          span 赛事报名名单审核
        .col-lg-12.col-table-box
          table.table.table-hover
            thead
              tr
                th(width="20%") 战队名称
                th(width="20%") 联系人战网ID
                th(width="15%") 手机号
                th(width="15%") QQ
                th(width="15%") 微信
                th(width="15%")
            tbody
              tr
                td 32
                td 32
                td 32
                td 32
                td 32
                td
                  button.btn.btn-xs.btn-success 通过
                  button.btn.btn-xs.btn-danger 未通过
              tr
                td 32
                td 32
                td 32
                td 32
                td 32
                td
                  button.btn.btn-xs.btn-success 通过
                  button.btn.btn-xs.btn-danger 未通过
              tr
                td 32
                td 32
                td 32
                td 32
                td 32
                td
                  button.btn.btn-xs.btn-success 通过
                  button.btn.btn-xs.btn-danger 未通过
              tr
                td 32
                td 32
                td 32
                td 32
                td 32
                td
                  button.btn.btn-xs.btn-success 通过
                  button.btn.btn-xs.btn-danger 未通过
              tr
                td 32
                td 32
                td 32
                td 32
                td 32
                td
                  button.btn.btn-xs.btn-success 通过
                  button.btn.btn-xs.btn-danger 未通过

